body {
    height: 1000px;
    background-image: linear-gradient(yellow, green);
}

.line {
    position: relative;
    height: 600px;
    width: 30px;
    border-radius: 30%;
    background-color: purple;
}

.one {
    left: 400px;
    top: 200px;
}

.two {
    top: -400px;
    left: 600px;
}

.three {
    transform: rotate(90deg);
    left: 500px;
    top: -1100px;
}

.four {
    transform: rotate(90deg);
    left: 500px;
    top: -1500px;
}

.box {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: transparent;
    /*    padding-top: 50px;
    padding-left: 50px;*/
}

#box-1 {
    left: 220px;
    top: 200px;
}

#box-2 {
    left: 420px;
    top: 200px;
}
#box-3 {
    left: 620px;
    top: 200px;
}
#box-4 {
    left: 220px;
    top: 400px;
}
#box-5 {
    left: 420px;
    top: 400px;
}
#box-6 {
    left: 620px;
    top: 400px;
}
#box-7 {
    left: 220px;
    top: 600px;
}
#box-8 {
    left: 420px;
    top: 600px;
}
#box-9 {
    left: 620px;
    top: 600px;
}

#con {
    position: absolute;
    height: 1000px;
    width: 1000px;
}

.circle {
    position: absolute;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: purple;
    margin-left: 15px;
    margin-top: 19px;
}
img {
    position: relative;
    top: 50px;
    left: 50px;
}

button {
    position: absolute;
    width: 20px;
    left: 70%;
    top: 65%;
    /*transform: translateX(-50%);*/
    transform: scale(6.5);
    color: purple;
    background: none;
    border: none;
    font-family: Lato;
    cursor: pointer;
    /*    border-width: 1px;
*/
}

button:focus {
    outline: none;
}

.P {
    position: absolute;
    left: 50%;
    font-size: 50px;
}

.One {
    color: purple;
}
.Two {
    color: purple;
}

.refresh {
    position: absolute;
    left: 700px;
    top: 190px;
}
